/* body */

.carousel-weekend,
.nav-weekend,
.bg-weekend {
    float: left;
    width: 100%;
}

.bg-weekend {
    background-color: #cde5e6;
    border-top: 10px solid #3b215f;
}

.social-media {
    float: right;
    background: #3b215f;
    padding: 8px 15px 3px;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

.social-media p span {
    font-size: 12px;
}

.nav-weekend nav,
.nav-weekend {
    background-color: transparent !important;
}

.nav-weekend nav ul li {
    margin-right: 40px;
}

.nav-weekend nav ul li.active {
    margin-left: 40px;
}

.nav-weekend nav ul li:last-child {
    margin-right: 0;
}

.nav-weekend nav ul li a {
    font-size: 25px;
    text-transform: capitalize;
    color: black !important;
    font-weight: 500;
}

.carousel-weekend {
    position: relative;
}

.wine-bottles {
    height: 600px;
    width: 200px;
    position: absolute;
    top: 0;
}

.carousel-weekend .carousel-indicators {
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    display: block;
}